<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 마이바티스 환경설정 -->
<configuration>
	<properties resource="mybatis/mybatis.properties"/>
	<typeAliases>
		<typeAlias type="model.Usergroup" alias="usergroup"/>
		<typeAlias type="model.Userperson" alias="userperson"/>
		<typeAlias type="model.Board" alias = "board"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/user.xml"/>
		<!-- <mapper resource="mybatis/board.xml"/> 테스팅 하는데 에러나서 주석처리했어요-->
	</mappers>

</configuration>